.header {
  padding: 25px 0 25px 0;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.logout {
  color: #fff;
  padding: 10px 15px;
  border: none;
  background-color: #53c28b;
  cursor: pointer;
  border-radius: 3px;
}